<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js}"></script>
    <script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <title>Test</title>
</head>
<style>
    .answer {
        color: gray;
        cursor: pointer;
    }

    .answer:hover {
        color: black;
    }

    #test-block {
        font-size: 25px;
        color: gray;
    }
</style>
<script th:inline="javascript">
    /*<![CDATA[*/
    var QuestionCounter = 0;
    var allQuestions;
    var mark = 0;
    var answersArr = [];

    $(document).ready(function () {

        $.ajax({
            url: "/v1/tests/" + [[${testId}]],
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            type: "GET",
            success: function (res) {
                allQuestions = res.questions;
                parseQuestions();
            }
        });


        function appendCh(id, el) {
            document.getElementById(id).appendChild(el);
        }

        $("#test-block").on('click', 'h5.answer', function (clickedElement) {
            var currentAnswer = $(clickedElement.target).text();
            answersArr.push(currentAnswer);

            // if currentAnswer equals correctAnswer
            if (currentAnswer.substr(0, 2).localeCompare(allQuestions[QuestionCounter - 1].correctAnswer.substr(0, 2) === 0) {
                mark++;
            }

            parseQuestions();
        });

        function parseQuestions() {

            // Deleting prev question
            var elem = document.getElementById("test-block");
            if (elem != null)
                while (elem.firstChild) {
                    elem.removeChild(elem.firstChild);
                }

            var question = allQuestions[QuestionCounter];

            if (QuestionCounter < Object.keys(allQuestions).length) {

                // Appending question
                var p = document.createElement("h3");
                p.setAttribute("id", "question-tmp");
                p.innerHTML = question.name;
                appendCh("test-block", p);

                // Appending answers
                for (var i = 0; i < Object.keys(question.answers).length; i++) {
                    var answer = document.createElement("h5");
                    answer.innerHTML = question.answers[i];
                    answer.setAttribute("class", "answer");
                    answer.setAttribute("id", "question-tmp");
                    appendCh("test-block", answer);
                }

                QuestionCounter++;

            } else {

                $("#test-block").text("Тест закінчився! Оцінка : " + mark);

                for (var j = 0; j < Object.keys(allQuestions).length; j++) {
                    question = allQuestions[j];

                    // Appending question
                    p = document.createElement("h3");
                    p.setAttribute("id", "question-tmp");
                    p.innerHTML = question.name;
                    appendCh("test-block", p);

                    // Appending answers
                    for (i = 0; i < Object.keys(question.answers).length; i++) {
                        answer = document.createElement("h5");
                        answer.innerHTML = question.answers[i];
                        answer.setAttribute("id", "question-tmp");
                        appendCh("test-block", answer);
                    }

                    // Append comments to answers
                    var comment = document.createElement("p");
                    var comment2 = document.createElement("p");
                    comment.innerHTML = "Ваша відповідь : " + answersArr[j].substr(0, 2);
                    comment2.innerHTML = "Вірна відповідь : " + question.correctAnswer;

                    if (answersArr[j].substr(0, 2).localeCompare(question.correctAnswer) === 0) {

                        comment.setAttribute("style", "color:green;");

                    } else comment.setAttribute("style", "color:red;");

                    comment2.setAttribute("style", "color:orange;");
                    appendCh("test-block", comment);
                    appendCh("test-block", comment2);
                }

                // Return button
                var bndRet = $('<button class="btn btn-primary" id="retButton" onclick="redirectCatalog()"/>').appendTo("#test-block");
                bndRet.text("На головну");

            }
        }
    });

    function redirectCatalog() {
        window.location.href = "/catalog"
    }

    /*]]>*/
</script>
<body>

<div class="container">
    <div id="test-block"></div>

</div>
</body>
</html>